/* line 1, ../sass/main.scss */
html, body, .row {
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/main.scss */
body {
  background-color: #e8eef7;
}

/* line 8, ../sass/main.scss */
a {
  text-decoration: none;
}

/* line 11, ../sass/main.scss */
li {
  list-style: none;
}

/* line 14, ../sass/main.scss */
.i {
  height: 100vh;
  overflow-y: auto;
}

/* line 18, ../sass/main.scss */
.a {
  overflow-y: hidden;
}

/* line 21, ../sass/main.scss */
nav {
  margin-bottom: 100px;
}

/* line 26, ../sass/main.scss */
#search .search-form {
  position: relative;
  top: 30px;
  left: 20px;
  width: 44%;
  height: 30px;
  border-radius: 40px;
  background: #fff;
  border: 1px solid grey;
}
/* line 36, ../sass/main.scss */
#search .search-input {
  position: absolute;
  top: 5px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  outline: none;
}
/* line 48, ../sass/main.scss */
#search .search-button {
  position: absolute;
  top: 5px;
  left: 15px;
  height: 20px;
  width: 20px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

/* line 62, ../sass/main.scss */
#filters {
  position: absolute;
  font-size: 16px;
  top: 30px;
  right: 100px;
}
/* line 67, ../sass/main.scss */
#filters .btn {
  background-color: #607fff;
  color: #fff;
  padding: 5px 15px;
  border-radius: 7px;
}
/* line 73, ../sass/main.scss */
#filters .btn:hover {
  background-color: blue;
}
/* line 76, ../sass/main.scss */
#filters ul {
  padding-left: 15px;
}
/* line 78, ../sass/main.scss */
#filters ul li {
  padding-bottom: 10px;
}
/* line 80, ../sass/main.scss */
#filters ul li input {
  margin: 5px 10px;
}

/* line 87, ../sass/main.scss */
#login a {
  position: absolute;
  font-size: 16px;
  top: 30px;
  right: 25px;
  background-color: #349b2d;
  color: #fff;
  padding: 5px 15px;
  border-radius: 7px;
}
/* line 97, ../sass/main.scss */
#login a:hover {
  text-decoration: none;
  background-color: green;
}
/* line 101, ../sass/main.scss */
#login .sign-in {
  margin-left: -20px;
  padding: 0 15px;
}
/* line 105, ../sass/main.scss */
#login .sign-up {
  margin-right: -20px;
  padding: 0 15px;
}
/* line 109, ../sass/main.scss */
#login .modal-dialog {
  margin-top: 100px;
}
/* line 112, ../sass/main.scss */
#login .loginmodal-container {
  padding: 30px;
  min-width: 680px;
  width: 100%;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  overflow: hidden;
  font-family: roboto;
}
/* line 123, ../sass/main.scss */
#login .loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}
/* line 129, ../sass/main.scss */
#login .loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}
/* line 136, ../sass/main.scss */
#login .loginmodal-container input[type=text], #login input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/* line 150, ../sass/main.scss */
#login .loginmodal-container input[type=text]:hover, #login input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* line 158, ../sass/main.scss */
#login .loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}
/* line 167, ../sass/main.scss */
#login .loginmodal-submit {
  border: 0px;
  color: #fff;
  padding-top: 20px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  border-radius: 10px;
}
/* line 178, ../sass/main.scss */
#login .login-sign-up {
  background-color: orange;
}
/* line 181, ../sass/main.scss */
#login .loginmodal-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background-color: #357ae8;
}
/* line 186, ../sass/main.scss */
#login .login-sign-up:hover {
  background-color: #e88822;
}
/* line 190, ../sass/main.scss */
#login .loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

/* line 201, ../sass/main.scss */
.line {
  height: 400px;
  width: 2px;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 55%;
  transform: rotate(7deg);
}

/* line 211, ../sass/main.scss */
#content h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 30px;
}
/* line 217, ../sass/main.scss */
#content .item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/* line 221, ../sass/main.scss */
#content .item .item-b {
  max-width: 150px;
  margin: 20px 10px;
}
/* line 225, ../sass/main.scss */
#content .item img {
  height: 120px;
  width: 150px;
  margin-bottom: 20px;
  transition: 0.9s all;
}
/* line 231, ../sass/main.scss */
#content .item img:hover {
  transform: rotate(360deg) scale(1.3);
}

/* line 237, ../sass/main.scss */
.but {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}
/* line 242, ../sass/main.scss */
.but .b1 {
  padding-right: 40px;
  cursor: pointer;
  position: relative;
}
/* line 246, ../sass/main.scss */
.but .b1 .blue {
  width: 20px;
  height: 20px;
  border: 1px solid;
  position: absolute;
  background-color: #e8eef7;
  top: 0;
  right: 10px;
}
/* line 256, ../sass/main.scss */
.but .b2 {
  padding-right: 40px;
  cursor: pointer;
  position: relative;
}
/* line 260, ../sass/main.scss */
.but .b2 .white {
  width: 20px;
  height: 20px;
  border: 1px solid;
  position: absolute;
  background-color: #fff7f7;
  top: 0;
  right: 10px;
}
/* line 270, ../sass/main.scss */
.but .b3 {
  cursor: pointer;
  position: relative;
}
/* line 273, ../sass/main.scss */
.but .b3 .pink {
  width: 20px;
  height: 20px;
  border: 1px solid;
  position: absolute;
  background-color: #fceaf4;
  top: 0;
  right: -30px;
}

/* line 285, ../sass/main.scss */
#map {
  height: 100vh;
  width: 100%;
}
/* line 288, ../sass/main.scss */
#map iframe {
  height: 100vh;
  width: 100%;
}
